.post-container {
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.post {
    width:400px;
    border:1px solid rgb(241, 240, 240);
    display:flex;
    flex-direction: column;
    align-items: center;
    height:430px;
    border-radius:10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombra per i post */
    padding:20px;
    margin-bottom:20px;
}

.post:hover {
    transform: scale(1.05); /* Ingrandisce l'annuncio al passaggio del mouse */
    transition: transform 0.3s ease; /* Aggiunge una transizione fluida */
}

.post-image {
    width:230px;
}

.home-title {
    background-color: #f8f9fa; /* Colore di sfondo del jumbotron */
    padding: 2rem; /* Spaziatura interna */
    border-radius: 0.5rem; /* Angoli arrotondati più pronunciati */
    text-align: center; /* Allineamento del testo al centro */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
    max-width: 800px; /* Limita la larghezza massima del jumbotron */
    margin: 0 auto; /* Centra il jumbotron orizzontalmente */
    margin-top: 2rem; /* Aggiunge margine superiore */
    font-family: Arial, sans-serif; /* Cambia il font del titolo */
}

.home-title-content {
    display: flex; /* Utilizza il flexbox per allineare l'immagine e la descrizione */
    align-items: center; /* Allinea verticalmente al centro */
    flex-direction: column;
    gap: 0; /* Rimuove lo spazio tra l'immagine e la descrizione */
    height:100px;
}

.home-title-content p {
    height: auto; /* Imposta l'altezza automatica per occupare solo l'altezza minima */
    font-family: Arial, sans-serif; /* Cambia il font della descrizione */
}

.home-title h1 {
    font-family: Arial, sans-serif; /* Cambia il font del titolo */
}

.home-subtitle {
    text-align: center;
    margin-top:40px;
   color: #ff1e3c;
   font-family: Arial, sans-serif;
}



.post-container a {
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}